<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body class="form-page-bg">
    <!-- Login Form -->
    <div class="container">
      <div class="panel panel-default auth-box">
        <div class="panel-body px-2">
          <h1 class="text-center">Login</h1>
          {% if error_message %}
          <div class="alert alert-danger" role="alert">
            <strong> Username or password was wrong. </strong>
          </div>
          {% endif %}
          <form method="post" class="auth-form" role="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username">Username</label>
              <input
                type="text"
                name="username"
                class="form-control input-lg"
                id="id_username"
                placeholder="Enter your username"
                required
              />
            </div>
            <div class="form-group form-group-last">
              <label for="id_password">Password</label>
              <input
                type="password"
                name="password"
                class="form-control input-lg"
                id="id_password"
                placeholder="Enter your password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Login
            </button>
          </form>
          <p class="text-center change-auth-text">
            Don't have an account?
            <a href="{% url 'signup' %}"><strong>Sign up</strong></a>
          </p>
        </div>
      </div>
    </div>

    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
