<!DOCTYPE html>
<html>
  <head>
    <title>Notifications</title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    
  </head>
  <body>
       <!-- Notification Section -->
       <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-ex1-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
  
            <a class="navbar-brand" href="{% url 'home' %}">People Networth</a>
          </div>
  
          
          <div class="collapse navbar-collapse navbar-ex1-collapse">
  
            <!-- Functionalities -->
            <form method="post" class="navbar-form navbar-right" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn">Logout</button>
            </form>
            <form method="post" class="navbar-form navbar-right" action="{% url 'notifications' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn">Notifications</button>
            </form>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">Notifications History</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-flush">
            {% for notification in page_obj %}
            <li class="list-group-item">
              {{ notification.timestamp }} -
              <strong>{{ notification.message }}</strong>
            </li>
            {% endfor %}
          </ul>

          {% if page_obj.has_other_pages %}
          
          <ul class="pagination ">
            {% for i in page_obj.paginator.page_range %}
            
            {% if page_obj.number == i %}
            <li class="page-item active">
              <span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
          
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
